@import '../global.scss';

@keyframes profileImage {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

.layout-home {
  & > .meta {
    display: flex;
    width: 100%;
    height: $home-meta-height;
    max-height: $home-meta-height;

    @media screen and (max-height: $home-meta-height * 1.3) {
      min-height: $home-meta-height / 2;
      height: 30vh;
    }

    @media screen and (max-height: $home-meta-height * 2) {
      min-height: $home-meta-height / 2;
      height: 50vh;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    div,
    p {
      margin: unset;
    }

    .contents {
      display: flex;
      margin: auto;

      .profile-image {
        &:hover {
          animation: profileImage 10s linear infinite forwards;
          cursor: progress;
        }
      }

      .texts {
        margin-left: 20px;
        margin-top: auto;
        margin-bottom: auto;

        h1 {
          // 사이트 제목

          font-weight: bold;
          font-size: x-large;

          letter-spacing: $text-default-letter-spacing;
        }

        h3 {
          // 사이트 부제목
          color: $text-sub;
          font-size: large;

          letter-spacing: $text-default-letter-spacing;

          margin-top: -3px;
        }
      }
    }
  }

  .posts {
    display: grid;
    gap: 20px;
  }
}

html.dark .blog-links {
  .categories {
    item {
      &.active {
        color: $dark-theme-text;
      }

      color: $dark-theme-text-sub;
    }
  }

  .views {
    img {
      filter: invert(1);
    }
  }
}

.blog-links {
  display: flex;
  user-select: none;
  margin-bottom: 30px;
  padding: 0 3%;

  .categories {
    flex: 7;

    item {
      font-size: 20px;
      font-weight: bold;
      color: $text-sub;
      transition: 0.23s color cubic-bezier(0.19, 1, 0.22, 1);

      &:hover {
        color: darken($text-sub, 10);
      }

      &.active {
        color: $text-dark;
        cursor: unset;
      }

      letter-spacing: $text-default-letter-spacing;

      cursor: pointer;

      margin-right: 20px;
    }
  }

  .views {
    img {
      margin-right: 20px;
      opacity: 0.4;
      cursor: pointer;

      transition: 0.23s opacity cubic-bezier(0.19, 1, 0.22, 1);

      &:hover {
        opacity: 0.6;
      }

      &.active {
        opacity: 1;
        cursor: unset;
      }

      &:last-child {
        margin-right: unset;
      }
    }
  }
}

.card-post {
  position: relative;
  border-radius: $card-radius;
  background-color: $card-holder-background;
  cursor: pointer;
  display: flex;

  overflow: hidden;
  min-height: $home-card-height;
  height: 33vh;
  max-height: $home-card-height;
  isolation: isolate;
  color: $text-white;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  div,
  p {
    margin: unset;
  }

  @media screen and (max-width: $page-width) {
    min-height: $home-card-height / 1.5;
  }

  transition: 0.3s transform cubic-bezier(0.19, 1, 0.22, 1);
  transform: perspective(1000px);

  &:hover {
    .background-image {
      filter: saturate(150%);
      transform: scale(1.03);
    }

    .background-layer {
      margin-top: -25%;
    }

    transform: perspective(2000px) rotateX(19deg) rotateY(0deg) rotateZ(1deg);
  }

  .background-image,
  .background-layer {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: $card-radius;
  }

  .background-image {
    border-radius: $card-radius;
    transition: 0.3s filter cubic-bezier(0.19, 1, 0.22, 1),
      0.3s transform cubic-bezier(0.19, 1, 0.22, 1);
    user-select: none;
  }

  .background-layer {
    height: 200%;
    z-index: 5;
    transition: 0.3s all cubic-bezier(0.19, 1, 0.22, 1);

    background: linear-gradient(
      to top,
      hsla(0, 0%, 0%, 0.5) 0%,
      hsla(0, 0%, 0%, 0.494) 8.1%,
      hsla(0, 0%, 0%, 0.476) 15.5%,
      hsla(0, 0%, 0%, 0.448) 22.5%,
      hsla(0, 0%, 0%, 0.412) 29%,
      hsla(0, 0%, 0%, 0.37) 35.3%,
      hsla(0, 0%, 0%, 0.324) 41.2%,
      hsla(0, 0%, 0%, 0.275) 47.1%,
      hsla(0, 0%, 0%, 0.225) 52.9%,
      hsla(0, 0%, 0%, 0.176) 58.8%,
      hsla(0, 0%, 0%, 0.13) 64.7%,
      hsla(0, 0%, 0%, 0.088) 71%,
      hsla(0, 0%, 0%, 0.052) 77.5%,
      hsla(0, 0%, 0%, 0.024) 84.5%,
      hsla(0, 0%, 0%, 0.006) 91.9%,
      hsla(0, 0%, 0%, 0) 100%
    );
  }

  .contents {
    position: relative;
    margin-top: auto;
    margin-left: 5%;
    margin-bottom: 3%;
    z-index: 10;

    @media screen and (max-width: $page-width) {
      margin-left: 10%;
      margin-bottom: 6%;
    }
  }

  .title {
    font-weight: bold;
    letter-spacing: -3px;
    font-size: 28px;
    transition: 0.3s filter cubic-bezier(0.19, 1, 0.22, 1);
  }

  &:hover {
    .metadata, .excerpt {
      opacity: 0.8;
    }
  }

  .metadata, .excerpt {
    opacity: 0.6;
  }

  .metadata {
    font-size: 16px;
  }

  .excerpt {
    letter-spacing: $text-default-letter-spacing;
    max-width: 90%;
    max-height: 50px;
  }

  .post-meta {
    font-size: 16px;
    letter-spacing: $text-default-letter-spacing;

    .icon {
      width: 16px;
      top: 2px;
      position: relative;
      user-select: none;

      filter: invert(1);
    }
  }
}

.no-posts {
  text-align: center;
  letter-spacing: $text-default-letter-spacing;
}